extends layout

block content
  div.container.u--padding-6
    h1.u--border-bottom Blog

    ul
      each post in posts
        li
          a(href="/post/"+post._id)= post.title

    p
      a(href="post/new") New Blogpost
