doctype html
html
  head
    title= title
    block scripts
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='https://ddqt2avvbpaxu.cloudfront.net/cdn/v1/sc-mba/marketing/whitelabel.min.css')
  body
    block content
      div.container.card
