extends layout

block content
  div.container.u--padding-6
    h1 New Post

    form(action="/post" method="post")
      div
        input.control.u--margin-bottom-2(type="text", name="title", value="Enter title here", required) 
      div
        textarea.control.u--margin-bottom-2(name="content", required)
      button.button.button--primary(type="submit") Save Post
  
